#viewport {
    -fx-background-color: #222;
}

#canvas {
    -fx-background-color: #232426;
}

#border-panel {
    -fx-background-color: #2F3032;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: #3E3F41;
    -fx-border-width: 1;
}

.menu-bar, .context-menu, .menu-item {
    -fx-border-style: hidden;
    -fx-background-color: #2F3032;
}

.menu-button .label {
    -fx-text-fill: #9C9B9E;
}

.menu-button:hover, .menu-button:focused, .menu-button:showing, .menu-item:focused, .menu-item:hover {
    -fx-background-color: #4C5053;
}

.menu {
    -fx-background-radius: 6;
    -fx-background-insets: 0, 0 1 1 0;
}

.menu:hover {
    -fx-background-color: #4C5053;
}

.menu:pressed {
    -fx-background-color: #5C6164;
}

#menu-panel {
    -fx-background-color: #2F3032;
    -fx-background-radius: 6;
    -fx-background-insets: 0, 0 1 1 0;
}

.button {
    -fx-background-color: #2F3032;
    -fx-text-fill: #9C9B9E;
}

.button:hover {
    -fx-background-radius: 6;
    -fx-background-insets: 0, 0 1 1 0;
    -fx-background-color: #4C5053;
    -fx-text-fill: #FDFFFE;
}

.button:pressed {
    -fx-background-color: #5C6164;
}

.slider .track {
    -fx-background-color: #4C5053;
}

.slider .thumb {
    -fx-pref-height: 20;
    -fx-pref-width: 10;
    -fx-background-color: #9C9B9E;
    -fx-border-color: #2F3032;
}

.slider .axis {
    -fx-tick-label-fill: #9C9B9E;
}

.check-box .box {
    -fx-background-color: #2F3032;
    -fx-border-color: #4C5053;
    -fx-border-radius: 0;
}

.check-box .mark {
    -fx-shape: "M1.73,12.91 8.1,19.28 22.79,4.59 22.79,1.59 8.1,16.28 1.73,9.91";
}

.check-box:selected .mark {
    -fx-background-color: #9C9B9E;
}
